<div class="header">
        <div class="container-md  ">
        
            <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link current" href="/workers">WORKERS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/money">PAYOUTS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/time">WORK TIME</a>
                </li>
            </ul>
     
    </div>
    </div>