<form action="/addemployee" method="POST" class="todo-header"><br>
                <input type="text" name="fio" placeholder="fio"><br>
                <input type="number" name="id_card" placeholder="id_card"><br>
                <input type="text" name="address" placeholder="address"><br>
                <select>
                    {{#each positions}}
                    <option value="{{_id}}">{{position_name}}</option>
                    {{/each}}
                </select><br>
                <input type="text" name="salary_per_hour" placeholder="salary per hour"><br>
                <input type="date" name="birthDay" ><br>
                <button type="submit"><span class="fas fa-plus">picoc</span></button>
            </form>