<form action="/editposition/{{idPos}}" method="POST" class="todo-header"><br>
    <input type="hidden" name="id" value="{{idPos}}"><br>
    <input type="text" name="position_name"><br>
    <button type="submit"><span class="fas fa-plus">Change</span></button>
</form>