<h2>list of positions</h2>
<ul class="todo-list">
               {{#each positions}} 
                <li class="todo-list-item">
                    <div class="todo-list-item-name">{{position_name}}
                    <a href="/edit/<%= details._id %>" class="edit">
                        <span class="fas fa-edit">edit</span>
                    </a>
                    <a href="/remove/<%= details._id %>" class="remove">
                        <span class="fas fa-times">remove</span>
                    </a>
                    </div>
                </li>
                {{/each}}
            </ul>