<h2>list of positions</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Remove</th>
    </tr>
    {{#each positions}}
    <input type="hidden" value="{{_id}}">
    <tr>
        <td>{{position_name}}</td>
        <td><a href="/editPos/{{_id }}" class="edit">
                <span class="fas fa-edit">Edit</span>
            </a>
        </td>
        <td>
            <a href="/removePos/{{_id }}" class="remove">
                <span class="fas fa-times">Remove</span>
            </a>
        </td>
    </tr>
    {{/each}}
</table>
<h3>
    <a href="/addPos" class="add">
        <span class="fas fa-times">Add new position</span>
    </a>
</h3>